@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px;

}
.hero img{
    width: 100%;
    position: absolute;
    animation: zoom-in 5s linear infinite;
}
@keyframes zoom-in {
    100%{
        width: 120%;
    }  
}
.context{
    width: 80%;
    position: absolute;
    top: 200px;
    left: 150px;
    transform: translateY(100px);
    animation: textup 12s linear infinite;
}

@keyframes textup{
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }   
}

.context1{
    animation-delay: 0s;
}
.context2{
    animation-delay: 3s;
}
.context3{
    animation-delay: 6s;
}
.context4{
    animation-delay: 9s;
}

.context h1{
    font-size: 50px;
    color: #141414;
}
.context h3{
    font-size: 40px;
    color: #141414;
    font-weight: 100;
    margin: 0 auto 80px;
}

@media (max-width:991px){
    
    .hero .context{
        width: 80%;
        top: 40px;
    }
    .hero .context h1{
        font-size: 40px;
    }
    .hero .context h3{
        font-size: 30px;
    }
}

@media (max-width: 700px){
    
    .hero .context{
        width: 80%;
        top: 60px;
        left: 50px;
    }
    .hero .context h1{
        font-size: 30px;
        line-height: 35px;
    }
    .hero .context h3{
        font-size: 20px;
        line-height: 25px;
    }
}
@media (max-width:400px){
    
    .hero .context{
        width: 80%;
        top: 60px;
    }
    .hero .context h1{
        font-size: 20px;
        line-height: 25px;
    }
    .hero .context h3{
        font-size: 15px;
        line-height: 18px;
    }
}

.context3 h1{
    color: white;
}
.context3 h3{
    color: white;
}
.context1 h1{
    color: darkred;
}
.context2 h3{
    color: darkred;
}
.context2 h1{
    color: darkblue;
}
.slide1{
    animation: slide1 15s linear infinite;
}
.slide2{
    animation: slide2 15s linear infinite;
}
.slide3{
    animation: slide3 15s linear infinite;
}
.slide4{
    animation: slide4 15s linear infinite;
}
@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }  
}

@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }  
}
@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }  
}
@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }  
}